footer.footer
  .container
    .row.py-4
      .col-md-6
        .footer-left
          p.mb-1 © 2025 HieuPhe
          p.mb-0.text-muted Nền tảng freelance giúp kết nối Nhà tuyển dụng và Freelancer

      .col-md-6.text-md-right.mt-3.mt-md-0
        .footer-right
          ul
            li 
              a(href="/") Trang chủ
            li 
              a(href="/projects") Công việc
            li 
              a(href="#") Về chúng tôi
            li 
              a(href="#") Liên hệ
