include ../mixins/sub-menu.pug

header.header
  .container
    .row.align-items-center 
      .col-3 
        .inner-logo 
          a(href="/")
            img(src="/client/images/image.png", alt="logo")

      .col-9 
        .inner-menu 
          ul 
            li 
              a(href="/") Trang chủ
            li 
              a(href="/projects") Công việc

section.category-bar
  .container
    .row
      .col-3
        nav.category-nav(aria-label="Danh mục việc làm")
          - const pathProject = "/projects";
          +sub-menu-1(layoutProjectCategory, pathProject, 0)
      .col-9



